* {
  padding: 0 px;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
  margin: 20px;
  height: 100%
}
body{
  background: radial-gradient(rgb(234, 193, 218), rgb(245, 239, 196));
  background-size: 200% 200%;
  background-repeat: no-repeat;
  margin: 0%;
  animation: gradient 20s linear  infinite;
  animation-direction: alternate-reverse;
}
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}
header {
  display: flex;
  justify-content: center;
  min-height: 25vh;
}
.btn{
  border: none;
  color: #CC0000;
}

.navButton {
  height: 200px;
  width: 300px;
  font-size: 2rem;
  background-size: 150%;
  position: relative;

}
.navButton a {
  color: #CC0000;
}

#adviceBtn {  
  background-image: url(./photos/btn-image-1.png);
  border-radius: 50%;
  height: 300px
}



#thisDayBtn{
  background-image: url(./photos/btn-image-2.png);
  background-size: cover;
  height: 250px;
  width: 175px
}



#factBtn {
  background-image: url(./photos/btn-image-3.png);
}
#quoteBtn {
  background-image: url(./photos/btn-image-4.png);
}